.left-menu-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 275px;
  height: 40px;
  padding: 8px 12px;
  gap: 12px;
  flex-shrink: 0;
  box-sizing: border-box;
  border-width: 0;
  border-radius: 4px;
}

.left-menu-button-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.left-menu-button-img {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

.left-menu-button-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: fit-content;
  height: 24px;
  flex-shrink: 0;
  color: #171212;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
}
