# IDEs
.vscode/
.idea/
*.iml

# Angular / Node (para qualquer subprojeto)
**/node_modules/
**/dist/
**/.angular/
**/coverage/
**/out-tsc/
**/*.tsbuildinfo

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*

# Env
**/.env
**/.env.*.local

# Archives / artefactos
**/*.zip

# OS junk
.DS_Store
Thumbs.db
