<header class="header">
  <div class="left">
    <svg viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg" class="logo">
      <path
        fill-rule="evenodd"
        clip-rule="evenodd"
        d="M47.2426 24L24 47.2426L0.757355 24L24 0.757355L47.2426 24ZM12.2426 21H35.7574L24 9.24264L12.2426 21Z"
        fill="currentColor"
      />
    </svg>
    <h2 class="brand">WedWiz</h2>
  </div>

  <nav class="menu">
    <a routerLink="/features">Funcionalidades</a>
    <a routerLink="/plans">Planos</a>
    <a routerLink="/resources">Recursos</a>
  </nav>

  <div class="actions">
    <app-header-button label="Registar" variant="primary"></app-header-button>
    <app-header-button label="Login" variant="secondary"></app-header-button>
  </div>
</header>
